<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume Parser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
<div>
    <div class="header">
        <h1>Resume Parser</h1>
    </div>
    <div class="content">
        <p>You can upload your resume file below. The CSV file will be downloaded automatically when the parsing has been completed.</p>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <button type="submit" class="submit">Upload</button>
    </form>
    </div>
</div>
</body>
</html>
